export GTK_IM_MODULE=ibus
export QT_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT4_IM_MODULE=ibus
export CLUTTER_IM_MODULE=ibus
export GLFW_IM_MODULE=ibus
export MAKEFLAGS=-j$(($(grep -c "^processor" /proc/cpuinfo) - 1))
export PATH=$PATH:~/.local/bin/
ibus-daemon -drx --desktop=kde
aria2c --enable-rpc --rpc-listen-all=true --rpc-allow-origin-all --rpc-secret=sacmaidich &
