export GTK_IM_MODULE=ibus
export QT_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT4_IM_MODULE=ibus
export CLUTTER_IM_MODULE=ibus
export GLFW_IM_MODULE=ibus
export QT_QPA_PLATFORMTHEME=gtk2
export EDITOR=nvim
export Xcursor.theme: Quintom_Ink
lxpolkit &
picom --experimental-backend &
nitrogen --restore &
xbindkeys &
dunst &
mpd-discord-rpc &
light-locker &
ibus-daemon -drx
xfce4-power-manager &
nm-applet &
parcellite &
aria2c --enable-rpc --rpc-listen-all=true --rpc-allow-origin-all --rpc-secret=sacmaidich &
/home/kurosaki/.color/color-calibrate.sh
