
XTerm.termName: xterm-256color
XTerm.vt100.locale: true
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?
XTerm.vt100.translations: #override \n\
    Ctrl <Key>M: maximize() \n\
    Ctrl <Key>R: restore() \n\
 	Ctrl Shift <Key>C:  copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V:  insert-selection(CLIPBOARD) \n\
    Ctrl <Key> +:       larger-vt-font() \n\
    Ctrl <Key> -:       smaller-vt-font()
XTerm.vt100.saveLines: 4096
XTerm.vt100.geometry: 90x24
XTerm.vt100.foreground: rgb:d9/d9/d9
XTerm.vt100.background: rgb:54/54/54
XTerm.vt100.color0: rgb:35/35/35
XTerm.vt100.color1: rgb:e6/45/69
XTerm.vt100.color2: rgb:e4/85/9a
XTerm.vt100.color3: rgb:da/b7/52
XTerm.vt100.color4: rgb:43/9e/cf
XTerm.vt100.color5: rgb:d9/61/dc
XTerm.vt100.color6: rgb:64/aa/af
XTerm.vt100.color7: rgb:b3/b3/b3
XTerm.vt100.color8: rgb:53/53/53
XTerm.vt100.color9: rgb:e4/85/9a
XTerm.vt100.color10: rgb:e4/85/9a
XTerm.vt100.color11: rgb:e1/e3/87
XTerm.vt100.color12: rgb:6f/bb/e2
XTerm.vt100.color13: rgb:e5/86/e7
XTerm.vt100.color14: rgb:96/dc/da
XTerm.vt100.color15: rgb:de/de/de
XTerm.vt100.faceName: Hack Nerd Font Mono:antialias=true
XTerm.vt100.faceNameDoublesize: Noto Sans CJK JP
XTerm.vt100.faceSize: 12

Xft.dpi: 96 
